
<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-1">
      <h5 class="d-inline-flex bg-light px-3 py-1 font-weight-bold mt-5">注⽂情報入力</h5>
   </div>

<h3>支払い方法</h3>

<h3>お届け先</h3>


</div>