

<h3>注⽂履歴詳細</h3>

<table class="order_detail">
        <thead>
           <tr>
            <th>商品</th>
            <th>単価（税込み）</th>
            <th>個数</th>
            <th>小計</th>
           </tr>
        </thead>
</table>        