<footer>
  <div class="container">
    <div class="small text-center text-muted" style="margin: 50px 0;">
      <div class="footer__logo">
        <%= link_to image_tag("naganocake_footerlogo.png"), root_path %>
      </div>
      <p class="text-light">Copyright © Nagano Cake. All Rights Reserved</p>
    </div>
  </div>
</footer>